USE [master]
GO
/****** Object:  Database [OpmDB]    Script Date: 23/02/2022 17:41:00 ******/
CREATE DATABASE [OpmDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpmDB', FILENAME = N'D:\DataSQL\OpmDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OpmDB_log', FILENAME = N'D:\DataSQL\OpmDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpmDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpmDB]
GO
/****** Object:  Table [dbo].[Case]    Script Date: 23/02/2022 17:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case](
	[CaseId] [varchar](50) NOT NULL,
	[PLId] [varchar](50) NULL,
	[CaseQuantity] [float] NULL,
 CONSTRAINT [PK_Case] PRIMARY KEY CLUSTERED 
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 23/02/2022 17:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[ContractId] [varchar](50) NOT NULL,
	[ContractSignedDate] [datetime] NULL,
	[ContractName] [nvarchar](250) NULL,
	[ContractShoppingPlan] [nvarchar](250) NULL,
	[ContractType] [nvarchar](100) NULL,
	[SiteId] [varchar](50) NULL,
	[ContractValidityDate] [datetime] NULL,
	[ContractDeadline] [datetime] NULL,
	[ContractGoodsDesignation] [nvarchar](250) NULL,
	[ContractGoodsCode] [varchar](20) NULL,
	[ContractGoodsManufacture] [nvarchar](100) NULL,
	[ContractGoodsOrigin] [nvarchar](50) NULL,
	[ContractGoodsDesignation1] [varchar](250) NULL,
	[ContractGoodsCode1] [varchar](20) NULL,
	[ContractGoodsCode2] [varchar](100) NULL,
	[ContractGoodsSpecies] [nvarchar](100) NULL,
	[ContractGoodsNote] [nvarchar](250) NULL,
	[ContractGoodsUnit] [nvarchar](50) NULL,
	[ContractGoodsUnitPrice] [float] NULL,
	[ContractGoodsQuantity] [float] NULL,
	[ContractGoodsLicenseName] [nvarchar](250) NULL,
	[ContractGoodsLicenseUnitPrice] [float] NULL,
	[ContractGuaranteeCreatedDate] [datetime] NULL,
	[POGuaranteeRatio] [int] NULL,
	[POGuaranteeValidityPeriod] [int] NULL,
	[ContractGuaranteeDeadline] [datetime] NULL,
	[AccoutingCode] [varchar](15) NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryPlan]    Script Date: 23/02/2022 17:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryPlan](
	[DeliveryPlanId] [int] IDENTITY(1,1) NOT NULL,
	[POId] [varchar](50) NOT NULL,
	[VNPTId] [varchar](50) NOT NULL,
	[DeliveryPlanQuantity] [float] NULL,
	[DeliveryPlanDate] [datetime] NULL,
 CONSTRAINT [PK__Delivery__02814348E0AF5386] PRIMARY KEY CLUSTERED 
(
	[DeliveryPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 23/02/2022 17:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[DeviceSerial] [varchar](50) NOT NULL,
	[CaseId] [varchar](50) NULL,
	[DeviceMAC] [varchar](50) NULL,
	[DeviceSerialGpon] [varchar](50) NULL,
	[DeviceBoxNumber] [varchar](50) NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[DeviceSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DP]    Script Date: 23/02/2022 17:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DP](
	[DPId] [varchar](50) NOT NULL,
	[POId] [varchar](50) NOT NULL,
	[DPDate] [datetime] NULL,
	[DPType] [int] NULL,
	[DPRemarks] [nvarchar](250) NULL,
 CONSTRAINT [PK__DP__2332F7956F2C9AC1] PRIMARY KEY CLUSTERED 
(
	[DPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DPs]    Script Date: 23/02/2022 17:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DPs](
	[DPsId] [int] IDENTITY(1,1) NOT NULL,
	[DPId] [varchar](50) NOT NULL,
	[VNPTId] [varchar](50) NOT NULL,
	[DPQuantity] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[DPsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NTKT]    Script Date: 23/02/2022 17:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTKT](
	[NTKTId] [varchar](50) NOT NULL,
	[POId] [varchar](50) NOT NULL,
	[NTKTCreatedDate] [datetime] NULL,
	[NTKTPhase] [varchar](50) NULL,
	[NTKTQuantity] [float] NULL,
	[NTKTTestExpectedDate] [datetime] NULL,
	[TechnicalInspectionReportDate] [datetime] NULL,
	[TechnicalAcceptanceReportDate] [datetime] NULL,
	[NTKTLicenseCertificateDate] [datetime] NULL,
 CONSTRAINT [PK__NTKT__3213E83FBED39F0E] PRIMARY KEY CLUSTERED 
(
	[NTKTId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NTLicense]    Script Date: 23/02/2022 17:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTLicense](
	[id] [varchar](10) NOT NULL,
	[id_ntkt] [varchar](10) NOT NULL,
	[vdb_naplicense] [varchar](50) NULL,
	[vb_ntlicense] [varchar](50) NULL,
 CONSTRAINT [PK_NTLicense] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[id_ntkt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PL]    Script Date: 23/02/2022 17:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PL](
	[PLId] [varchar](50) NOT NULL,
	[DPsId] [int] NOT NULL,
	[PLDate] [datetime] NULL,
	[PLDimension] [varchar](50) NULL,
	[PLVolume] [float] NULL,
	[PLNetWeight] [float] NULL,
	[PLGrossWeight] [float] NULL,
 CONSTRAINT [PK_PackageList] PRIMARY KEY CLUSTERED 
(
	[PLId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PO]    Script Date: 23/02/2022 17:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PO](
	[POId] [varchar](50) NOT NULL,
	[ContractId] [varchar](50) NOT NULL,
	[POName] [varchar](20) NULL,
	[POCreatedDate] [datetime] NULL,
	[POGoodsQuantity] [float] NULL,
	[POConfirmRequestDeadline] [datetime] NULL,
	[PODefaultPerformDate] [datetime] NULL,
	[POPerformDate] [datetime] NULL,
	[PODeadline] [datetime] NULL,
	[POConfirmId] [varchar](50) NULL,
	[POConfirmCreatedDate] [datetime] NULL,
	[POAdvanceId] [varchar](50) NULL,
	[POAdvanceCreatedDate] [datetime] NULL,
	[POAdvancePercentage] [int] NULL,
	[POAdvanceGuaranteeCreatedDate] [datetime] NULL,
	[POAdvanceGuaranteePercentage] [int] NULL,
	[POAdvanceRequestId] [varchar](50) NULL,
	[POAdvanceRequestCreatedDate] [datetime] NULL,
	[POGuaranteeDate] [datetime] NULL,
	[PONumberOfPhase] [int] NULL,
 CONSTRAINT [PK_PO] PRIMARY KEY CLUSTERED 
(
	[POId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Site]    Script Date: 23/02/2022 17:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site](
	[SiteId] [varchar](50) NOT NULL,
	[SiteName] [nvarchar](250) NULL,
	[SiteProvince] [nvarchar](250) NULL,
	[SiteType] [nvarchar](50) NULL,
	[SiteHeadquater] [nvarchar](250) NULL,
	[SiteAddress] [nvarchar](250) NULL,
	[SitePhonenumber] [varchar](20) NULL,
	[SiteFaxNumber] [varchar](20) NULL,
	[SiteTaxCode] [varchar](20) NULL,
	[SiteBankAccount] [varchar](20) NULL,
	[SiteNameOfBank] [nvarchar](100) NULL,
	[SiteRepresentative1] [nvarchar](50) NULL,
	[SitePosition1] [nvarchar](50) NULL,
	[SiteProxy1] [nvarchar](50) NULL,
	[SiteRepresentative2] [nvarchar](50) NULL,
	[SitePosition2] [nvarchar](50) NULL,
	[SiteProxy2] [nvarchar](50) NULL,
	[SiteRepresentative3] [nvarchar](50) NULL,
	[SitePosition3] [nvarchar](50) NULL,
	[SiteProxy3] [nvarchar](50) NULL,
 CONSTRAINT [PK__Site__B9DCB963517A9935] PRIMARY KEY CLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DeliveryPlan] ON 

INSERT [dbo].[DeliveryPlan] ([DeliveryPlanId], [POId], [VNPTId], [DeliveryPlanQuantity], [DeliveryPlanDate]) VALUES (51, N'1111/CUVT-KV', N'12', 1000, CAST(N'2022-02-21T00:00:00.000' AS DateTime))
INSERT [dbo].[DeliveryPlan] ([DeliveryPlanId], [POId], [VNPTId], [DeliveryPlanQuantity], [DeliveryPlanDate]) VALUES (52, N'1111/CUVT-KV', N'12', 10000, CAST(N'2022-02-21T00:00:00.000' AS DateTime))
INSERT [dbo].[DeliveryPlan] ([DeliveryPlanId], [POId], [VNPTId], [DeliveryPlanQuantity], [DeliveryPlanDate]) VALUES (53, N'1111/CUVT-KV', N'123', 20000, CAST(N'2022-02-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DeliveryPlan] OFF
GO
INSERT [dbo].[DP] ([DPId], [POId], [DPDate], [DPType], [DPRemarks]) VALUES (N'1/2022', N'1111/CUVT-KV', CAST(N'2022-02-26T00:00:00.000' AS DateTime), 0, N'abcd    èg')
INSERT [dbo].[DP] ([DPId], [POId], [DPDate], [DPType], [DPRemarks]) VALUES (N'2/2022', N'1111/CUVT-KV', CAST(N'2022-02-26T00:00:00.000' AS DateTime), 1, N'Hàng dự phòng')
INSERT [dbo].[DP] ([DPId], [POId], [DPDate], [DPType], [DPRemarks]) VALUES (N'3/2022', N'1111/CUVT-KV', CAST(N'2022-02-23T00:00:00.000' AS DateTime), 0, N'Hàng chính')
GO
SET IDENTITY_INSERT [dbo].[DPs] ON 

INSERT [dbo].[DPs] ([DPsId], [DPId], [VNPTId], [DPQuantity]) VALUES (9, N'1/2022', N'1234', 20000)
INSERT [dbo].[DPs] ([DPsId], [DPId], [VNPTId], [DPQuantity]) VALUES (10, N'1/2022', N'12', 1000)
INSERT [dbo].[DPs] ([DPsId], [DPId], [VNPTId], [DPQuantity]) VALUES (11, N'1/2022', N'123', 100000)
SET IDENTITY_INSERT [dbo].[DPs] OFF
GO
INSERT [dbo].[NTKT] ([NTKTId], [POId], [NTKTCreatedDate], [NTKTPhase], [NTKTQuantity], [NTKTTestExpectedDate], [TechnicalInspectionReportDate], [TechnicalAcceptanceReportDate], [NTKTLicenseCertificateDate]) VALUES (N'1234/ANSV-DO', N'1111/CUVT-KV', CAST(N'2022-02-16T00:00:00.000' AS DateTime), N'1', 10000, CAST(N'2022-02-16T00:00:00.000' AS DateTime), CAST(N'2022-02-16T00:00:00.000' AS DateTime), CAST(N'2022-02-16T00:00:00.000' AS DateTime), CAST(N'2022-02-16T00:00:00.000' AS DateTime))
GO
ALTER TABLE [dbo].[Case]  WITH CHECK ADD  CONSTRAINT [FK_Case_PL] FOREIGN KEY([PLId])
REFERENCES [dbo].[PL] ([PLId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Case] CHECK CONSTRAINT [FK_Case_PL]
GO
ALTER TABLE [dbo].[DeliveryPlan]  WITH CHECK ADD  CONSTRAINT [FK__DeliveryP__SiteI__70DDC3D8] FOREIGN KEY([VNPTId])
REFERENCES [dbo].[Site] ([SiteId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeliveryPlan] CHECK CONSTRAINT [FK__DeliveryP__SiteI__70DDC3D8]
GO
ALTER TABLE [dbo].[DeliveryPlan]  WITH CHECK ADD  CONSTRAINT [FK__DeliveryPl__POId__6FE99F9F] FOREIGN KEY([POId])
REFERENCES [dbo].[PO] ([POId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeliveryPlan] CHECK CONSTRAINT [FK__DeliveryPl__POId__6FE99F9F]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_Case] FOREIGN KEY([CaseId])
REFERENCES [dbo].[Case] ([CaseId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_Case]
GO
ALTER TABLE [dbo].[DP]  WITH CHECK ADD  CONSTRAINT [FK__DP__POId__40058253] FOREIGN KEY([POId])
REFERENCES [dbo].[PO] ([POId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DP] CHECK CONSTRAINT [FK__DP__POId__40058253]
GO
ALTER TABLE [dbo].[DPs]  WITH CHECK ADD FOREIGN KEY([DPId])
REFERENCES [dbo].[DP] ([DPId])
GO
ALTER TABLE [dbo].[DPs]  WITH CHECK ADD FOREIGN KEY([VNPTId])
REFERENCES [dbo].[Site] ([SiteId])
GO
ALTER TABLE [dbo].[NTKT]  WITH CHECK ADD  CONSTRAINT [FK_NTKT_PO] FOREIGN KEY([POId])
REFERENCES [dbo].[PO] ([POId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NTKT] CHECK CONSTRAINT [FK_NTKT_PO]
GO
ALTER TABLE [dbo].[PL]  WITH CHECK ADD  CONSTRAINT [FK_PL_DPs] FOREIGN KEY([DPsId])
REFERENCES [dbo].[DPs] ([DPsId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PL] CHECK CONSTRAINT [FK_PL_DPs]
GO
ALTER TABLE [dbo].[PO]  WITH CHECK ADD  CONSTRAINT [FK_PO_Contract] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contract] ([ContractId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PO] CHECK CONSTRAINT [FK_PO_Contract]
GO
USE [master]
GO
