USE [master]
GO
/****** Object:  Database [OpmDB]    Script Date: 09/29/2021 9:40:42 PM ******/
CREATE DATABASE [OpmDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpmDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OpmDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OpmDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OpmDB_log.ldf' , SIZE = 2816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpmDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpmDB]
GO
/****** Object:  Table [dbo].[Case]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case](
	[id] [varchar](10) NOT NULL,
	[id_packagelist] [varchar](10) NULL,
	[make_in] [varchar](20) NULL,
	[dimension] [varchar](20) NULL,
	[weight] [int] NULL,
	[volume] [int] NULL,
 CONSTRAINT [PK_Case] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatalogAdmin]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogAdmin](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[ctlID] [varchar](100) NULL,
	[ctlname] [varchar](100) NULL,
	[ctlparent] [varchar](100) NULL,
	[haveparent] [int] NULL,
	[isdeleted] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatalogAdmin2]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogAdmin2](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[ctlID] [varchar](100) NULL,
	[ctlname] [varchar](100) NULL,
	[ctlparent] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[id] [varchar](50) NOT NULL,
	[namecontract] [nvarchar](250) NULL,
	[codeaccouting] [varchar](250) NULL,
	[datesigned] [date] NULL,
	[typecontract] [nvarchar](250) NULL,
	[durationcontract] [int] NULL,
	[activedate] [date] NULL,
	[valuecontract] [float] NULL,
	[durationpo] [int] NULL,
	[id_siteA] [nvarchar](250) NULL,
	[id_siteB] [nvarchar](250) NULL,
	[phuluc] [varchar](250) NULL,
	[vbgurantee] [varchar](250) NULL,
	[KHMS] [nvarchar](250) NULL,
	[experationDate] [date] NULL,
	[blvalue] [int] NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[serial] [varchar](10) NOT NULL,
	[id_storage] [varchar](10) NULL,
	[MAC] [varchar](20) NULL,
	[serial_gpon] [varchar](10) NULL,
	[device_name] [varchar](50) NULL,
	[note] [varchar](50) NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DP]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DP](
	[id] [varchar](10) NOT NULL,
	[id_po] [varchar](30) NULL,
	[id_contract] [varchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[dateopen] [date] NULL,
	[datedeliver] [date] NULL,
	[mskt] [varchar](10) NULL,
	[note] [nvarchar](50) NULL,
 CONSTRAINT [PK_DP] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListExpected_DP]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListExpected_DP](
	[id] [varchar](10) NOT NULL,
	[id_dp] [varchar](10) NULL,
	[nameofdivce] [varchar](20) NULL,
	[id_province] [varchar](20) NULL,
	[dpfrom] [varchar](20) NULL,
	[dpto] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListExpected_PO]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListExpected_PO](
	[id_po] [varchar](30) NOT NULL,
	[id_province] [varchar](20) NOT NULL,
	[numberofdevice] [int] NULL,
	[nameofdevice] [nvarchar](150) NULL,
 CONSTRAINT [PK_ListExpected_PO_1] PRIMARY KEY CLUSTERED 
(
	[id_po] ASC,
	[id_province] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NTKT]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTKT](
	[id] [nvarchar](20) NOT NULL,
	[id_po] [varchar](30) NULL,
	[numberofdevice] [int] NULL,
	[deliver_date_expected] [date] NULL,
	[email_request_status] [varchar](10) NULL,
	[create_date] [date] NULL,
	[numberofdevice2] [int] NULL,
	[number] [int] NULL,
	[date_BBNTKT] [date] NULL,
	[date_BBKTKT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NTLicense]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTLicense](
	[id] [varchar](10) NOT NULL,
	[id_ntkt] [varchar](10) NOT NULL,
	[vdb_naplicense] [varchar](50) NULL,
	[vb_ntlicense] [varchar](50) NULL,
 CONSTRAINT [PK_NTLicense] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[id_ntkt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageList]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageList](
	[id] [varchar](10) NOT NULL,
	[id_dp] [varchar](10) NULL,
	[date_deliver] [date] NULL,
	[type] [varchar](10) NULL,
	[target_address] [varchar](50) NULL,
	[note] [varchar](50) NULL,
 CONSTRAINT [PK_PackageList] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PO]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PO](
	[id] [varchar](30) NOT NULL,
	[id_contract] [varchar](50) NOT NULL,
	[po_number] [varchar](10) NULL,
	[numberofdevice] [float] NULL,
	[datecreated] [date] NULL,
	[priceunit] [int] NULL,
	[dateconfirm] [date] NULL,
	[dateperform] [date] NULL,
	[dateline] [date] NULL,
	[targetdeliveradd] [nchar](10) NULL,
	[email_BLBH_status] [varchar](10) NULL,
	[email_BLTH_status] [varchar](10) NULL,
	[totalvalue] [float] NULL,
	[tupo] [int] NULL,
	[tupo_datecreated] [date] NULL,
	[confirmpo_number] [varchar](20) NULL,
	[confirmpo_datecreated] [date] NULL,
	[bltupo] [int] NULL,
	[bltupo_datecreated] [date] NULL,
	[confirmpo_dateactive] [date] NULL,
 CONSTRAINT [PK_PO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Site_Info]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site_Info](
	[id] [nvarchar](250) NULL,
	[type] [varchar](10) NULL,
	[headquater_info] [nvarchar](250) NULL,
	[address] [nvarchar](250) NULL,
	[phonenumber] [varchar](20) NULL,
	[tin] [varchar](20) NULL,
	[account] [varchar](20) NULL,
	[representative] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storage]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage](
	[id] [varchar](10) NOT NULL,
	[id_case] [varchar](10) NULL,
 CONSTRAINT [PK_Storage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VBConfirmPO]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VBConfirmPO](
	[id_ConfirmPO] [varchar](50) NULL,
	[id_po] [varchar](30) NULL,
	[vb_ConfirmPO] [varchar](250) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CatalogAdmin] ON 

INSERT [dbo].[CatalogAdmin] ([stt], [ctlID], [ctlname], [ctlparent], [haveparent], [isdeleted]) VALUES (1, N'Contract_111-2020/CUVT-ANSV/DTRR-KHMS', N'111-2020/CUVT-ANSV/DTRR-KHMS', NULL, 0, NULL)
INSERT [dbo].[CatalogAdmin] ([stt], [ctlID], [ctlname], [ctlparent], [haveparent], [isdeleted]) VALUES (13055, N'PO_51/CUVT-KV', N'PO1', N'Contract_111-2020/CUVT-ANSV/DTRR-KHMS', NULL, NULL)
INSERT [dbo].[CatalogAdmin] ([stt], [ctlID], [ctlname], [ctlparent], [haveparent], [isdeleted]) VALUES (3, N'Contract_113-2020/CUVT-ANSV/DTRR-KHMS', N'113-2020/CUVT-ANSV/DTRR-KHMS', NULL, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[CatalogAdmin] OFF
GO
SET IDENTITY_INSERT [dbo].[CatalogAdmin2] ON 

INSERT [dbo].[CatalogAdmin2] ([stt], [ctlID], [ctlname], [ctlparent]) VALUES (8, N'111-2020/CUVT-ANSV/DTRR-KHMS', N'111-2020/CUVT-ANSV/DTRR-KHMS', NULL)
INSERT [dbo].[CatalogAdmin2] ([stt], [ctlID], [ctlname], [ctlparent]) VALUES (2, N'112-2020/CUVT-ANSV/DTRR-KHMS', N'112-2020/CUVT-ANSV/DTRR-KHMS', NULL)
INSERT [dbo].[CatalogAdmin2] ([stt], [ctlID], [ctlname], [ctlparent]) VALUES (3, N'113-2020/CUVT-ANSV/DTRR-KHMS', N'113-2020/CUVT-ANSV/DTRR-KHMS', NULL)
SET IDENTITY_INSERT [dbo].[CatalogAdmin2] OFF
GO
INSERT [dbo].[Site_Info] ([id], [type], [headquater_info], [address], [phonenumber], [tin], [account], [representative]) VALUES (N'Công ty TNHH thiết bị Viễn thông ANSV', N'0100113871', N'124 Hoàng Quốc Việt, Phường Nghĩa Tân, Quận Cầu Giấy, TP.Hà Nội', N'124 Hoàng Quốc Việt, Phường Nghĩa Tân, Quận Cầu Giấy, TP.Hà Nội', N'02438362094', N'02433861195', N'26010000554593', N'Nguyễn Văn Nam')
INSERT [dbo].[Site_Info] ([id], [type], [headquater_info], [address], [phonenumber], [tin], [account], [representative]) VALUES (N'Trung Tâm Cung ứng Vật Tư - Viễn Thông TP.HCM', N'0300954529', N'125 Hai Bà Trưng, Phường Bến Ngé, Quận 1, TP.HCM', N'12/1 Nguyễn Thị Minh Khai, Phường Đa Kao, Quận 1, TP.HCM', N'02835282338', N'02835282357', N'0071001103921', N'Ông Nguyễn Văn Nam - Tổng giám đốc')
INSERT [dbo].[Site_Info] ([id], [type], [headquater_info], [address], [phonenumber], [tin], [account], [representative]) VALUES (N'ANSV1', N'0300954529', N'124-Hoàng Quốc Việt-Cầu Giấy- Hà Nội', N'124-Hoàng Quốc Việt-Cầu Giấy- Hà Nội', N'02835282338', N'02433861195', N'0071001103933', N'Ông Nguyễn Văn Nam - Tổng giám đốc')
GO
ALTER TABLE [dbo].[Case]  WITH CHECK ADD  CONSTRAINT [FK_Case_PackageList1] FOREIGN KEY([id_packagelist])
REFERENCES [dbo].[PackageList] ([id])
GO
ALTER TABLE [dbo].[Case] CHECK CONSTRAINT [FK_Case_PackageList1]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_Storage] FOREIGN KEY([id_storage])
REFERENCES [dbo].[Storage] ([id])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_Storage]
GO
ALTER TABLE [dbo].[DP]  WITH CHECK ADD  CONSTRAINT [FK_DP_PO] FOREIGN KEY([id_po])
REFERENCES [dbo].[PO] ([id])
GO
ALTER TABLE [dbo].[DP] CHECK CONSTRAINT [FK_DP_PO]
GO
ALTER TABLE [dbo].[ListExpected_PO]  WITH CHECK ADD  CONSTRAINT [fk_PO_ID] FOREIGN KEY([id_po])
REFERENCES [dbo].[PO] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListExpected_PO] CHECK CONSTRAINT [fk_PO_ID]
GO
ALTER TABLE [dbo].[NTKT]  WITH CHECK ADD  CONSTRAINT [FK_NTKT_PO] FOREIGN KEY([id_po])
REFERENCES [dbo].[PO] ([id])
GO
ALTER TABLE [dbo].[NTKT] CHECK CONSTRAINT [FK_NTKT_PO]
GO
ALTER TABLE [dbo].[PackageList]  WITH CHECK ADD  CONSTRAINT [FK_PackageList_DP] FOREIGN KEY([id_dp])
REFERENCES [dbo].[DP] ([id])
GO
ALTER TABLE [dbo].[PackageList] CHECK CONSTRAINT [FK_PackageList_DP]
GO
ALTER TABLE [dbo].[PO]  WITH CHECK ADD  CONSTRAINT [FK_PO_Contract] FOREIGN KEY([id_contract])
REFERENCES [dbo].[Contract] ([id])
GO
ALTER TABLE [dbo].[PO] CHECK CONSTRAINT [FK_PO_Contract]
GO
ALTER TABLE [dbo].[Storage]  WITH CHECK ADD  CONSTRAINT [FK_Case_PackageList] FOREIGN KEY([id_case])
REFERENCES [dbo].[Case] ([id])
GO
ALTER TABLE [dbo].[Storage] CHECK CONSTRAINT [FK_Case_PackageList]
GO
ALTER TABLE [dbo].[VBConfirmPO]  WITH CHECK ADD  CONSTRAINT [FK_VBConfirmPO_PO] FOREIGN KEY([id_po])
REFERENCES [dbo].[PO] ([id])
GO
ALTER TABLE [dbo].[VBConfirmPO] CHECK CONSTRAINT [FK_VBConfirmPO_PO]
GO
/****** Object:  Trigger [dbo].[DeleteCatalogAdmin_After_DeleteContract]    Script Date: 09/29/2021 9:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[DeleteCatalogAdmin_After_DeleteContract] ON [dbo].[Contract] AFTER DELETE AS 
BEGIN
	DELETE FROM dbo.CatalogAdmin WHERE ctlID=(SELECT 'Contract_'+Deleted.id FROM Deleted)
END
GO
ALTER TABLE [dbo].[Contract] ENABLE TRIGGER [DeleteCatalogAdmin_After_DeleteContract]
GO
/****** Object:  Trigger [dbo].[InsertCatalogAdmin_After_InsertContract]    Script Date: 09/29/2021 9:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[InsertCatalogAdmin_After_InsertContract] ON [dbo].[Contract] AFTER INSERT AS 
BEGIN
	INSERT INTO dbo.CatalogAdmin
(
    ctlID,
    ctlname
)
VALUES
(   (SELECT 'Contract_'+id FROM INSERTED),
	(SELECT ID FROM INSERTED))
END
GO
ALTER TABLE [dbo].[Contract] ENABLE TRIGGER [InsertCatalogAdmin_After_InsertContract]
GO
/****** Object:  Trigger [dbo].[DeleteCatalogAdmin_After_DeleteNTKT]    Script Date: 09/29/2021 9:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[DeleteCatalogAdmin_After_DeleteNTKT] ON [dbo].[NTKT] AFTER DELETE AS 
BEGIN
	DELETE FROM dbo.CatalogAdmin WHERE ctlID=(SELECT 'NTKT_'+Deleted.id FROM Deleted)
END
GO
ALTER TABLE [dbo].[NTKT] ENABLE TRIGGER [DeleteCatalogAdmin_After_DeleteNTKT]
GO
/****** Object:  Trigger [dbo].[InsertCatalogAdmin_After_InsertNTKT]    Script Date: 09/29/2021 9:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[InsertCatalogAdmin_After_InsertNTKT] ON [dbo].[NTKT] AFTER INSERT AS 
BEGIN
	INSERT INTO dbo.CatalogAdmin
(
    ctlID,
    ctlname,
	ctlparent
)
VALUES
(   (SELECT 'NTKT_'+ Inserted.id FROM INSERTED),
	(SELECT 'NTKT_'+ CAST(Inserted.number AS VARCHAR(100))  FROM INSERTED),
	(SELECT 'PO_'+Inserted.id_po FROM INSERTED))
END
GO
ALTER TABLE [dbo].[NTKT] ENABLE TRIGGER [InsertCatalogAdmin_After_InsertNTKT]
GO
/****** Object:  Trigger [dbo].[UpdateCatalogAdmin_After_UdateNTKT]    Script Date: 09/29/2021 9:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateCatalogAdmin_After_UdateNTKT] ON [dbo].[NTKT] AFTER UPDATE AS 
BEGIN
	UPDATE dbo.CatalogAdmin
	SET ctlname = (SELECT 'NTKT_'+ CAST(Inserted.number AS VARCHAR(100)) FROM INSERTED)
	WHERE ctlID = (SELECT 'NTKT_'+ Inserted.id FROM INSERTED)
END
GO
ALTER TABLE [dbo].[NTKT] ENABLE TRIGGER [UpdateCatalogAdmin_After_UdateNTKT]
GO
/****** Object:  Trigger [dbo].[DeleteCatalogAdmin_After_DeletePO]    Script Date: 09/29/2021 9:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[DeleteCatalogAdmin_After_DeletePO] ON [dbo].[PO] AFTER DELETE AS 
BEGIN
	DELETE FROM dbo.CatalogAdmin WHERE ctlID=(SELECT 'PO_'+Deleted.id FROM Deleted)
END
GO
ALTER TABLE [dbo].[PO] ENABLE TRIGGER [DeleteCatalogAdmin_After_DeletePO]
GO
/****** Object:  Trigger [dbo].[InsertCatalogAdmin_After_InsertPO]    Script Date: 09/29/2021 9:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[InsertCatalogAdmin_After_InsertPO] ON [dbo].[PO] AFTER INSERT AS 
BEGIN
	INSERT INTO dbo.CatalogAdmin
(
    ctlID,
    ctlname,
	ctlparent
)
VALUES
(   (SELECT 'PO_'+Inserted.id FROM INSERTED),
	(SELECT Inserted.po_number FROM INSERTED),
	(SELECT 'Contract_'+Inserted.id_contract FROM INSERTED))
END
GO
ALTER TABLE [dbo].[PO] ENABLE TRIGGER [InsertCatalogAdmin_After_InsertPO]
GO
/****** Object:  Trigger [dbo].[UpdateCatalogAdmin_After_UpdatePO]    Script Date: 09/29/2021 9:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateCatalogAdmin_After_UpdatePO] ON [dbo].[PO] AFTER UPDATE AS 
BEGIN
	UPDATE dbo.CatalogAdmin SET ctlname = (select Inserted.po_number FROM Inserted) WHERE ctlID = 'PO_'+(select Inserted.id FROM Inserted)
END
GO
ALTER TABLE [dbo].[PO] ENABLE TRIGGER [UpdateCatalogAdmin_After_UpdatePO]
GO
USE [master]
GO
